<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flights</title>
    <link href="https://fonts.cdnfonts.com/css/baby-sleepwear" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        &nbsp;|&nbsp;
        <a href="/flights">All Flights</a>
        &nbsp;|&nbsp;
        <a href="/flights/new">Add Flights</a>
    </nav>