
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

.grandiflora-one-regular {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0%;
  padding: 50px;
  background-image: linear-gradient(
    to bottom,
    rgba(113, 200, 126, 0.88),
    rgba(241, 212, 210, 0.5)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  text-align: right;
}

a {
  color: black;
}

.expired {
  color: red;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Grandiflora One", cursive;
  font-weight: bolder;
  font-style: normal;
}

h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: "Grandiflora One", cursive;
  font-weight: bolder;
  font-style: normal;
}

.index-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.index-table tr {
  border: 3px solid white;
}

.index-table thead tr th {
  text-align: center;
  padding-left: 5%;
}

.index-table tbody tr td {
  text-align: center;
  padding-left: 5%;
}

.show-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show-table tr {
  border: 3px solid white;
}

.show-table thead tr th {
  text-align: center;
  padding-left: 5%;
}

.show-table tbody tr td {
  text-align: center;
  padding-left: 5%;
}
.tickets-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.tickets-table tr {
  border: 3px solid white;
}

.tickets-table thead tr th {
  text-align: center;
  padding-left: 5%;
}

.tickets-table tbody tr td {
  text-align: center;
}

.new-ticket {
  border: 3px solid white;
  margin: 45%;
}

#add-destination {
  padding-bottom: 2%;
  margin-left: 27%;
}

.destinations-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.destinations-table tr {
  border: 3px solid white;
}

.destinations-table thead tr th {
  text-align: center;
}

.destinations-table tbody tr td {
  text-align: center;
}




/* thead th:nth-child(3) {
  padding-right: 5%;
}


td a {
  padding-left: 35%;
}

 tbody tr {
  border: 3px solid white;
}

tbody td:nth-child(1) {
  padding-left: 6%;
  
}

tbody td:nth-child(2) {
  padding-left: 8%;
  
}

tbody td:nth-child(3) {
  padding-left: 5%;
}

#show-airline {
  padding-left: 9%;
} */

